DL MESO

volume 20.0 20.0 20.0
temperature 1.0
cutoff 1.0
global bonds

timestep 0.05
steps 400000
equilibration steps 100000
scale temperature every 1000
trajectory 0 4000 0
stats every 1000
stack size 100
print every 1000
job time 72000.0
close time 10.0

ensemble nvt dpdvv

finish
